@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body > * {
    padding: 1rem 9rem;
}

/* button animation */
.contact-button {
    --color: #fff;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 900;
    font-size: 0.8rem;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.contact-button::before,
.contact-button::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.contact-button::before {
    top: -1em;
    left: -1em;
}

.contact-button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.contact-button:hover::before,
.contact-button:hover::after {
    height: 410px;
    width: 410px;
}

.contact-button:hover {
    color: rgb(10, 25, 30);
}

.contact-button:active {
    filter: brightness(0.8);
}

/*  */

.button-animation-light {
    --color: black;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 900;
    font-size: 0.8rem;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    background-color: #fff;
    z-index: 1;
}

.button-animation-light::before,
.button-animation-light::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button-animation-light::before {
    top: -1em;
    left: -1em;
}

.button-animation-light::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button-animation-light:hover::before,
.button-animation-light:hover::after {
    height: 410px;
    width: 410px;
}

.button-animation-light:hover {
    color: #fff;
}

.button-animation-light:active {
    filter: brightness(0.8);
}
